<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="openwerk/dmn">
    <description>PSR-12 coding standard for openwerk/dmn.</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <file>bin</file>
    <file>src</file>
    <file>tests</file>
    <file>examples</file>

    <rule ref="PSR12"/>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="140"/>
        </properties>
    </rule>
</ruleset>
